footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}
#form{
    width: 30%;
    position: relative;
    left: 33%;
    top: 30px;
}

#link{
    position: relative;
    left: 33%;
    width: 30%;
    margin-top: 50px;
    top: 50px;
    height: 40px;

    background-color: rgb(238, 238, 238);
    border-bottom: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    
}

#link-text{
    

    overflow: hidden;
    display: inline-block;
    height: fit-content;
    width: 75%;
    overflow: scroll;
    overflow-x: scroll;
    border: 0;
}

#icon{
    width: 15%;
    font-size: 1.2rem;
}

#image{
    width: 20%;
    height: 20%;
    position: relative;
    left: 38%;
    border: 2px solid black;
    border-radius: 50%;
}
body{
    background-image: url("https://i.pinimg.com/originals/3f/32/0c/3f320cf5acc1754059922df2be39a08e.jpg");    
  
    
    /* background-size: cover;  */
    background-size: cover;
    background-repeat: no-repeat;
}

#sbutton{
    overflow-x: hidden;
}
nav{
    overflow:hidden;
}